@font-face {
  font-family: "Roboto-Black";
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-display: auto;
}


// Colors
$color-white: #fff;
$color-black: #333;
$color-error: #d91b1b;
$color-primary: #eaef88;
$color-secondary: #f494af;
$color-third: #c484cd;
$color-fourth: #7cf6a1;
$color-fifth: #7ccaf7;

// Fonts
$font-roboto-black: 'Roboto-Black', sans-serif;
$font-roboto-bold: 'Roboto-Bold', sans-serif;
$font-roboto-medium: 'Roboto-Medium', sans-serif;
$font-roboto-regular: 'Roboto-Regular', sans-serif;
$font-roboto-light: 'Roboto-Light', sans-serif;

// Radius
$radius-main: 5px;

// Transitions
$transition-main: .2s ease-out;

// Shadows
$border-main: 1px solid $color-black;

// Shadows
$shadow-main: 3px 3px 0px $color-black;
$shadow-smooth: 0px 0px 10px 2px #00000040;

// Spacing
$spacing-xl: 25px;
$spacing-sm: 15px;