
.passsword-generator{
  .input{
    text-align: center;
  }
  .wrapper-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-sm;
    .input-toggle{
      margin-bottom: $spacing-xl;
      display: flex;
      flex-direction: column;
      width: 60px;
      .label{
        width: 60px;
        text-overflow: ellipsis;
      }
    }
  }
}